MYSQL_DATABASE=eventzen_auth
MYSQL_ROOT_PASSWORD=root

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/eventzen_auth
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

DB_NAME=eventzen_auth
DB_USER=root
DB_PASSWORD=root
DB_HOST=mysql

JWT_SECRET=replace_with_base64_secret
SERVER_PORT=8080
EVENT_SERVICE_PORT=5000