# VS Code
.vscode/

# Node
node_modules/
dist/
build/

# Java / Maven
target/
*.class
*.jar
*.war

# Environment files
.env
.env.*

# allow example env
!.env.example

# Logs
*.log
hs_err_pid*
replay_pid*

# OS files
.DS_Store
Thumbs.db